<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Card - GreetingCats</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Bree+Serif|PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Shadows+Into+Light+Two" rel="stylesheet">
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/create.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <div class="container">
      <div class="side">
      <h2>Font</h2>
      <ul class="templates fonts">
		  <li>Shadows</li>
		  <li class="selected">Poppins</li>
		  <li>Satisfy</li>
		  <li>Bree</li>
		</ul>
		<a href="index.html" class="link home">Home</a> 
      </div> 
      <div class="center">
        	<div id="userCard"class="card snow">
        		<div class="frost">
				<div class="text">
					<textarea id="cardText" class="Montserrat"> Your text here!</textarea>
				</div>
			</div>
		</div>	
      </div>
      <div class="side">
        <h2>Image</h2>
		<ul class="templates">
		  <li>bub</li>
		  <li class="selected">snow</li>
		  <li>collage</li>
		  <li>three</li>
		  <li>grumpy</li>
		  <li>sorry</li>
		</ul>
		<a id="createVRButton" class="link share">Share</a>
      </div>	  
    </div>

  </body>
      <div id="dialog" title="View or Share!">
	</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="../scripts/create.js"></script>

</html>