<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Shadows+Into+Light+Two" rel="stylesheet">
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/create.css">
  </head>
  <body>
    <div class="container">
      <div class="side">
      <h2>Font</h2>
      <ul class="templates fonts">
		  <li>Shadows</li>
		  <li>Poppins</li>
		  <li class="selected">Montserrat</li>
		</ul>
      </div> 
      <div class="center">
        <div class="card">
        	<div class="image snow">
				<div class="text">
					<textarea class="Montserrat"> Your text here!</textarea>
				</div>
        	</div>
		</div>
      </div>
      <div class="side">
        <h2>Image</h2>
		<ul class="templates">
		  <li>bub</li>
		  <li class="selected">snow</li>
		  <li>collage</li>
		  <li>three</li>
		  <li>grumpy</li>
		  <li>sorry</li>
		</ul>
      </div>	  
    </div>
  </body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/create.js"></script>
</html>
