<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/create.css">
  </head>
  <body>
    <div class="container">
      <div class="side">
      <h2>Font</h2>
      <ul class="templates">
		  <li class="selected">Birthday</li>
		  <li>Congrats!</li>
		  <li>Sorry!</li>
		</ul>
      </div> 
      <div class="center">
        <div class="card">
        	<div class="image">
				<div class="text">
					<textarea> Your text here!</textarea>
				</div>
        	</div>
		</div>
      </div>
      <div class="side">
        <h2>Image</h2>
		<ul class="templates">
		  <li>Birthday</li>
		  <li class="selected">Congrats!</li>
		  <li>Sorry!</li>
		</ul>
      </div>	  
    </div>
  </body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/create.js"></script>
</html>
