<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hello, World! - A-Frame</title>
  <meta name="description" content="Hello, World! - A-Frame">
  <script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
  <script src="https://rawgit.com/donmccurdy/aframe-extras/v2.1.1/dist/aframe-extras.loaders.min.js"></script>
  <script src="https://rawgit.com/mayognaise/aframe-html-shader/master/dist/aframe-html-shader.min.js"></script>
  <script src="scripts/virtualReality.js"></script>

  <link rel="stylesheet" type="text/css" href="../styles/vrTemplate.css">

</head>

<body>

    <div id="userCardDiv" class="hidden">
    <%- cardDiv %>
    </div>

  <a-scene id="vrScene">
    <a-assets>

      <img id="bg" src="/assets/img360/bg.jpg">
      <a-asset-item id="myModelObj" src="/models/chr_cat_black.obj"></a-asset-item>
      <a-asset-item id="myModelMtl" src="/models/chr_cat_black.mtl"></a-asset-item>

    </a-assets>
    <a-sky src="#bg"></a-sky>
    <a-entity position="0 3.9 -12.44" scale="1 1 1" geometry="primitive: box; depth:1;width:8;height:8" material="shader:html;target:#userCardDiv;transparent:false;fps:1;side:front; ;"></a-entity>
    <a-entity scale="0.125 0.125 0.125" obj-model="obj: #myModelObj; mtl: #myModelMtl"></a-entity>
  </a-scene>

</body>

</html>